body
{
    padding: 0;
    margin: 0;
    background-image: url('/static/images/imax-2.webp');
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    background-color: transparent;
}

.form-container
{
    margin: auto;
    width: 70%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    color: rgb(0, 0, 0);
    background-color: rgb(255, 255, 255);
    padding: 2rem;
    border-radius: 1rem;
    margin-top: 2rem;
}

.form-side-panel
{
    width: 50%;
    margin-left: 3rem;
    display: flex;
    flex-direction: column;
    align-content: space-around;
    justify-content: center;
    align-content: center;
    
}
.form-side-panel img{
    justify-self: center;
    width: 70%;
}
form{
    margin: 0;
    width: 50%;
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    -webkit-box-shadow: 10px 10px 41px -21px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 41px -21px rgba(0,0,0,0.75);
    box-shadow: 10px 10px 41px -21px rgba(0,0,0,0.75);
}
form h2{
    text-align: center;
}
input{
    background-color: rgba(255, 255, 255, 0.11);
    width: min-content;
}