@import url('https://fonts.googleapis.com/css2?family=Shadows+Into+Light&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100;0,200;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Shadows+Into+Light&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;1,700&display=swap');
body
{
    background-color: #f5f5f5;
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}
.navbar-custom {
    background-color: rgb(172, 0, 0);
    color: white;
    -webkit-box-shadow: 10px 10px 41px -21px rgba(0,0,0,0.75);
-moz-box-shadow: 10px 10px 41px -21px rgba(0,0,0,0.75);
box-shadow: 10px 10px 41px -21px rgba(0,0,0,0.75);
font-weight: 300;
}
.bluebutton
{
    background-color: #2742d8;
    color: rgb(255, 255, 255);
    padding: 0.1rem;
    padding-left: 1rem;
    padding-right: 1rem;
    border-radius: 1rem;

}

.navbutton
{
    background-color: #1d1d1d;
    color: rgb(255, 255, 255);
    padding: 0.1rem;
    padding-left: 1rem;
    padding-right: 1rem;
    margin-right:1rem ;
}
form{
    width: min-content;
    margin: auto;
    margin-top: 4rem;
 
    padding: 5rem;
    display: flex;
    flex-direction: column;
    border-radius: 1rem;
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    -webkit-box-shadow: 10px 10px 41px -21px rgba(0,0,0,0.75);
-moz-box-shadow: 10px 10px 41px -21px rgba(0,0,0,0.75);
box-shadow: 10px 10px 41px -21px rgba(0,0,0,0.75);
}
h1{
    text-align: center;
    font-family: 'Josefin Sans', sans-serif;
    text-decoration: underline;
    text-decoration-color:rgb(172, 0, 0) ;
}
input 
{
    width: 100%;
    margin: auto;
    width: 20rem;
    margin-bottom: 1rem;
    border-radius: 0.4rem;
    border: 0.5px solid grey;
    padding: 1rem;
    box-shadow: none;
    color: rgb(0, 0, 0);

}
select{
    margin: auto;
    width: 20rem;
    margin-bottom: 1rem;
    border-radius: 0.4rem;
    padding: 1rem;
}

.navbar-dark,.sticky-top,.navbar-expand-lg,.navbar-dark,.bg-dark
{
    background-color: black;
}
.showcase-movies
{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex-shrink: 0;
    margin: auto;
    padding: 6rem;
    padding-top: 2rem;
    background: rgb(50,3,3);
    background: linear-gradient(0deg, rgba(50,3,3,1) 0%, rgba(36,36,36,1) 66%);
}

.showcase-movies .movie{
    display: flex;
    flex-direction: column;
    margin: 2rem;
    -webkit-box-shadow: 10px 10px 54px -6px rgba(0,0,0,0.75);
-moz-box-shadow: 10px 10px 54px -6px rgba(0,0,0,0.75);
box-shadow: 10px 10px 54px -6px rgba(0,0,0,0.75);
border-radius: 1rem;

}

.movie img{
    height: 20rem;
    border-radius: 1rem;
}
.movie a{
    margin-top: -2rem;
    text-decoration: none;
    color: white;
    background-color: rgb(119, 0, 0);
    padding: 1rem;
    text-align: center;
}
button,input[type=submit]
{
    background-color: rgb(189, 23, 23);
    color: white;
    border: 1rem transparent;
    border-radius: 1.2rem;
    padding: 0.5rem;
    padding-left: 2rem;
    padding-right: 2rem;
    margin: auto;
}
.ticket
{
    background-color: rgb(253, 230, 22);
    margin: auto;
    width: 40%;

}

.data-container
{
    width: 50%;
    margin: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    color: white;

}
.data-box{

    width: 12rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0.6rem;
    padding-left: 1rem;
    padding-right: 1rem;
    border-radius: 1rem;
    margin: 1rem;
    -webkit-box-shadow: 10px 10px 41px -21px rgba(0,0,0,0.75);
-moz-box-shadow: 10px 10px 41px -21px rgba(0,0,0,0.75);
box-shadow: 10px 10px 41px -21px rgba(0,0,0,0.75);
}
.data-box:nth-child(1)
{
    background: #FF8008;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #FFC837, #FF8008);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #FFC837, #FF8008); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}
.data-box:nth-child(2)
{
    background: #1D976C;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #93F9B9, #1D976C);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #93F9B9, #1D976C); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}
.data-box:nth-child(3)
{
    background: #EB3349;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #F45C43, #EB3349);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #F45C43, #EB3349); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    
}
.data-box:nth-child(4)
{
    background: #4CB8C4;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #3CD3AD, #4CB8C4);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #3CD3AD, #4CB8C4); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}
.data-box:nth-child(5)
{
    background: #DA22FF;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #9733EE, #DA22FF);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #9733EE, #DA22FF); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}
.data-box:nth-child(6)
{
    background: #1A2980;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #26D0CE, #1A2980);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #26D0CE, #1A2980); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    
}
.data-box:nth-child(7)
{
    background: #FF512F;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #DD2476, #FF512F);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #DD2476, #FF512F); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    
}


.infobox
{
    width: 50%;
    margin: auto;
    margin-top: 5rem;
    padding: 5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: aliceblue;
    border-radius: 1rem;
    font-size: 1.4rem;

}
.gender-input
{
    width: 10rem;
}
.inputgrp
{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 0;
    width: 10rem;
}
.inputgrp input
{
   
    margin: auto;
 
}

footer
{
    margin: 0;
    background-color: white;

}