{% extends "adminlayout.html" %}

{% block title %}
    Add movie
{% endblock %}

{% block main %}
<style>
     form
 {
  margin-bottom: 4rem;
 }
 input{
    width: 40rem;
  }
</style>
<form class="" action="/addemp" method="post">
    <h2>Employee</h2>
    <br>
    
   
    <select name="gender" id="">
        <option value="m">Male</option>
        <option value="f">Female</option>
        <option value="o">Others</option>
    </select><br>
    
    <input type="text" name="fname" placeholder="First name" value=""> <br>
    <input type="text" name="lname" placeholder="Last name" value=""> <br>
    <input type="text" name="street" placeholder="Street" value=""> <br>
    <input type="text" name="state" placeholder="State" value=""> <br>
    <input type="text" name="city" placeholder="City" value=""> <br>
    <input type="number" name="salary" placeholder="Salary" value="" > <br>
    Department:<select name="dno">
        {% for department in departments %}
        <option value="{{department[0]}}"> {{department[1]}} </option>
        {% endfor %}
        </select>
        <br>
      <button type="submit" name="submit">Add employee </button>
    </form>
{% endblock %}