{% extends "layout.html" %}

{% block title %}
    Admin panel
{% endblock %}

{% block main %}
           <h1>
            You're in the admin panel
           </h1> 
           <ul class="showcase-movies">
            <li> <a href="/addmovie"> Add a movie </a></li>
            <li> <a href="/addscreen"> Add a screen </a></li> 
            <li> <a href="/adddept"> Add a department </a></li> 
            <li> <a href="/addemp"> Add an employee </a></li> 
            <li> <a href="/addmaintains"> Add maintenance </a></li> 
           </ul>
           <div class="data-container">
            <div class="data-box">
                <h5>Movies</h5>
                <h2>{{movies}}</h2>
            </div>
            <div class="data-box">
                <h5>Screens</h5>
                <h2>{{screens}}</h2>
            </div>
            <div class="data-box">
                <h5>Departments</h5>
                <h2>{{deps}}</h2>
            </div>
            <div class="data-box">
                <h5>Employees</h5>
                <h2>{{emps}}</h2>
            </div>
            <div class="data-box">
                <h5>Booked tickets</h5>
                <h2>{{tickets}}</h2>
            </div>
            <div class="data-box">
                <h5>Transactions</h5>
                <h2>{{trans}}</h2>
            </div>
           
           </div>
           <br>
           <a href="/logout">Logout</a>
{% endblock %}