{% extends "layout.html" %}

{% block title %}
    Admin panel
{% endblock %}

{% block main %}
           <h1>
            Youre in the admin panel
           </h1> 
           <ul>
            <li> <a href="/addmovie"> Add a movie </a></li>
            <li> <a href="/addscreen"> Add a screen </a></li> 
            <li> <a href="/adddept"> Add a department </a></li> 
            <li> <a href="/addemp"> Add an employee </a></li> 
            <li> <a href="/addmaintains"> Add maintenance </a></li> 
           </ul>
{% endblock %}