{% extends "layout.html" %}

{% block title %}
    Book seats
{% endblock %}

{% block main %}

<script src="http://ajax.aspnetcdn.com/ajax/jQuery/jquery-1.5.js" type="text/javascript"></script>
<style>
    form{
    width: min-content;
    margin: auto;
    margin-top: 5rem;
    padding: 5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: aliceblue;
    border-radius: 1rem;
}

input 
{
    width: 100%;
    margin: auto;
    width: 20rem;
    margin-bottom: 1rem;
    border-radius: 0.4rem;
    padding: 1rem;

}
select{
    margin: auto;
    width: 20rem;
    margin-bottom: 1rem;
    border-radius: 0.4rem;
    padding: 1rem;
}
button,input[type=submit]
{
    background-color: rgb(23, 119, 245);
    color: white;
    border: 1rem transparent;
    border-radius: 1.2rem;
    padding: 0.5rem;
    padding-left: 2rem;
    padding-right: 2rem;
    margin: auto;
}
</style>
<script type="text/javascript">
    $(document).ready(function() {
        var arr = new Array();
        $("select[multiple]").change(function() {
            $(this).find("option:selected")
            if ($(this).find("option:selected").length > "{{quantity}}" ) {
                $(this).find("option").removeAttr("selected");
                $(this).val(arr);
            }
            else {
                arr = new Array();
                $(this).find("option:selected").each(function(index, item) {
                    arr.push($(item).val());
                });
            }
        });
    });
</script>
<form action="/bookseats/{{movieid}}/{{date}}/{{showtime}}/{{quantity}}" method="post">
    <h3>Select seat no.</h3>
    <select required multiple type="radio" class="select-seats" name="seatno" id="">
        {% for seat in available_seats %}
        <option value="{{seat}}">{{seat}}</option>
        {% endfor %}
    </select><br>
    <input type="submit" placeholder="Go for transaction">
</form>


  
{% endblock %}