{% extends "layout.html" %}

{% block title %}
    Tickets
{% endblock %}

{% block main %}
          <style>
            .ticket
                {
                    background-color: rgb(253, 230, 22);
                    margin: auto;
                    width: 40%;
                    padding: 2rem;
                    border-radius: 1rem;
                    margin-bottom: 2rem; 
                }
          </style>
          {% for ticket in tickets %}
          <div class="ticket">
            <h5>

           Ticket no: {{ticket[0]}} <br>
            Movie name: {{movie_title}}<br>
            Screen no: {{movie_screen}} <br>
            Seat no: {{ticket[2]}}<br>
            Date: {{ticket[4]}}<br>
            Time: {{ticket[3]}}<br>
            Transaction id: {{ticket[5]}}<br>
          </div>
          {% endfor %}
            

{% endblock %}
